/*Estilos para la página del Club RC La Nucía*/

*{
	font-family:arial, verdana, sans-serif;
}
header{
	
	background:linear-gradient(to left, white 40%, #CCCCCC);
	background:-webkit-linear-gradient(left, white 40%, #CCCCCC);
	background:-moz-linear-gradient(right, white 40%, #CCCCCC);
	background:-o-linear-gradient(right, white 40%, #CCCCCC);
	background:-ms-linear-gradient(right, white 40%, #CCCCCC);
}

/*nav{
	font-size:35px;	
}*/
nav a{
	text-decoration:none;
	color:black;
}
nav a:hover{
	color:red;
}
#elclub{
	float:left;
	padding:2rem;
	background:linear-gradient(to top #BB0000, #BBBB00);
	background:-webkit-linear-gradient(top, #BB0000, #BBBB00);
	background:-moz-linear-gradient(top #BB0000, #BBBB00);
	background:-o-linear-gradient(top, #BB0000, #BBBB00);
	background:-ms-linear-gradient(top, #BB0000, #BBBB00);
	font-size:2.5rem;
}
#normas{
	float:left;
	padding:2rem;
	background:linear-gradient(to top #BB0000, #BBBB00);
	background:-webkit-linear-gradient(top, #BB0000, #BBBB00);
	background:-moz-linear-gradient(top #BB0000, #BBBB00);
	background:-o-linear-gradient(top, #BB0000, #BBBB00);
	background:-ms-linear-gradient(top, #BB0000, #BBBB00);
	font-size:2.5rem;
}
#multim{
	float:left;
	padding:2rem;
	background:linear-gradient(to top #BB0000, #BBBB00);
	background:-webkit-linear-gradient(top, #BB0000, #BBBB00);
	background:-moz-linear-gradient(top #BB0000, #BBBB00);
	background:-o-linear-gradient(top, #BB0000, #BBBB00);
	background:-ms-linear-gradient(top, #BB0000, #BBBB00);
	font-size:2.5rem;
}
#contacto{
	float:left;
	padding:2rem;
	background:linear-gradient(to top #BB0000, #BBBB00);
	background:-webkit-linear-gradient(top, #BB0000, #BBBB00);
	background:-moz-linear-gradient(top #BB0000, #BBBB00);
	background:-o-linear-gradient(top, #BB0000, #BBBB00);
	background:-ms-linear-gradient(top, #BB0000, #BBBB00);
	font-size:2.5rem;
}
#mosaico{
	background:linear-gradient(to top #BB0000, #BBBB00);
	background:-webkit-linear-gradient(top, #BB0000, #BBBB00);
	background:-moz-linear-gradient(top #BB0000, #BBBB00);
	background:-o-linear-gradient(top, #BB0000, #BBBB00);
	background:-ms-linear-gradient(top, #BB0000, #BBBB00);
	text-align:center;
}
#RC a{
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	color:white;
	margin:0 2px 0 2px;
	}
#RC a:hover{
	color:red;
}
#bateria{
	font-size:32px;
	font-family: 'Pattaya', sans-serif;
	margin:0 2px 0 2px;
}
#emisora a{
	font-size:27px;
	font-family: 'Oswald', sans-serif;
	color:#CCCCCC;
	margin:0 2px 0 2px;
}
#emisora a:hover{
	color:red;
}
#circuito{
	font-size:35px;
	font-family: 'Mate SC', serif;
	margin:0 2px 0 2px;
}
#nitro{
	font-size:27px;
	font-family: 'Reggae One', cursive;
	margin:0 2px 0 2px;
}
#servo{
	font-size:30px;
	font-family: 'Inconsolata', monospace;
	margin:0 2px 0 2px;
}
#receptor{
	font-size:22px;
	font-family: 'Newsreader', serif;
	margin:0 2px 0 2px;
}
#brussless{
	font-size:25px;
	font-family: 'Anton', sans-serif;
	margin:0 2px 0 2px;
}
#motornitro a{
	font-size:20px;
	font-family: 'Chela One', cursive;
	margin:0 2px 0 2px;
	color:gray;
}
#motornitro a:hover{
	color:red;
}
@media screen and (min-width:601px){
	#logo{
	width:27rem;
	height:12.5rem;
	}
	.circuito{
		width:15rem;
		height:15rem;
		float:left;
	}
	section{
		height:40rem;
		background:linear-gradient(to top, #65C6DD, #000099);
		background:-webkit-linear-gradient(top, #65C6DD, #000099);
		background:-moz-linear-gradient(top, #65C6DD, #000099);
		background:-o-linear-gradient(top, #65C6DD, #000099);
		background:-ms-linear-gradient(top, #65C6DD, #000099);
		font-family:arial, verdana, sans-serif;
	}
	footer{
		height:80px;
		background-color: black;
		color:yellow;
	}
	footer a{
		color:green;
	}
	#piecentro{
		float:left;
		width:37%;
	}
	#tiempo{
		float:left;
		width:40%;
		height:200px;
	}
	#cartel{
		float:right;
		margin-right:5%;
		width:14%;
		height:250px;
	}
	#secnormas{
		height:500px;
	}
	#secnormas img{
		width:35px;
		height:22px;
	}
	#multi{
	height:1500px;
	}
	#fotos img{
		width:23%;
		height:200px;
		float:left;
		margin:10px;
	}
	#videos iframe{
		width:30%;
		height:300px;
		float:left;
		margin:10px;
	}
	#formulario{
		background-color:#AACCEE;
		margin-left:6px;
		border:5px solid gray;
		border-radius:7px;
		float:left;
	}
	#subscripcion{
		margin-right:6px;
		width:60%;
		border:5px solid gray;
		background-color:#AACCEE;
		border-radius:7px;
		float:right;
	}
	#contacto1{
		height:650px;
	}
	#texto{
		column-count:2;
	}
	#cartel{
		width:15%;
		height:200px;
		float:right;
	}
}	
@media screen and (max-width:600px){
	#logo{
	width:20rem;
	height:12.5rem;
	}
	.circuito{
		display:none
	}
	section{
		background:linear-gradient(to top, #65C6DD, #000099);
		background:-webkit-linear-gradient(top, #65C6DD, #000099);
		background:-moz-linear-gradient(top, #65C6DD, #000099);
		background:-o-linear-gradient(top, #65C6DD, #000099);
		background:-ms-linear-gradient(top, #65C6DD, #000099);
		font-family:arial, verdana, sans-serif;
		width:100%;
		height:100%;
	}
	footer{
		height:200px;
		background-color:#AAAAAA;
	}
	#piecentro{
		float:right;
		width:37%;
	}
	#tiempo{
		display:none;
	}
	#cartel{
		display:none;
	}
	#secnormas{
		height:100%;
		width:100%;
		border-top:5px solid #AAAAAA;
		border-bottom: 5px solid #AAAAAA;
	}
	#secnormas img{
		width:35px;
		height:22px;
	}
	#multi{
		height:1900px;
		border-top:5px solid #AAAAAA;
		border-bottom: 5px solid #AAAAAA;
	}
	#fotos img{
		width:26%;
		height:200px;
		float:left;
		margin:10px;
	}
	#videos iframe{
		width:26%;
		height:200px;
		float:left;
		margin:10px;
	}
	#formulario{
		background-color:#AACCEE;
		border:5px solid gray;
		border-radius:7px;
		width:100%;
	}
	#subscripcion{
		background-color:#AACCEE;
		width:100%;
		border:5px solid gray;
		border-radius:7px;
	}
	#contacto1{
		height:1350px;
	}
}
#izquierda{
	float:left;
	width:50%;
	height:300px;
}
#derecha{
	height:300px;	
}


#pieizquierda{
	float:left;
	width:37%;
}
#pieizquierda a{
	text-decoration:none;
}

#piecentro a{
	text-decoration:none;
}
#piederecha{
	float:left;
}
#piederecha a{
	text-decoration:none;
}

ul {
	list-style:none; 
}

#aviso{
	height:100%;
}
fieldset{
	border:2px solid gray;
	border-radius:5px;
}

#boton_enviar{
	width:70px;
	height:30px;
	background-color:#88AACC;
	color:red;
	border-radius:5px;
	margin: 15px 20px 15px 30%;
}
#boton_enviar:hover{
	color:blue;
}
#boton_reset{
	width:70px;
	height:30px;
	background-color:#88AACC;
	color:red;
	border-radius:5px;
	margin: 15px 0 15px 0;
}
#boton_reset:hover{
	color:blue;
}

#boton_volver{
	width:100px;
	height:40px;
	background-color:#DD0055;
	border:4px solid red;
	border-radius:4px;
}
#boton_volver:hover{
	background-color:#AA00AA;
	border:4px solid gray;
}
#formu, #forinf{
	color:red;
	font-size:20px;
}
#recontacto{
	height:200px;
}
#LogoFace{
	width:30px;
	height:30px;
}
 .mifecha {
	background-color: #999;
	padding: 3px;
	width: 70px;
	text-align: center;
	font-family:verdana, arial;
	font-size: 10pt;
}
.mifecha .ano{
	background-color: #999;
	padding: 2px;
	font-size: 100%;
	margin-bottom: 3px;
	color: #fff;
	letter-spacing: 3px;
	font-weight: bold;
}
.mifecha .dia{
	background-color: #aaa;
	font-size: 140%;
	padding: 5px 8px;
	margin-bottom: 3px;
	font-weight: bold;
}
.mifecha .mes{
	background-color: #999;
	font-size: 80%;
	padding: 2px;
	color: #fff;
	font-weight: bold;
}
.mifecha .dias{
	font-weight:bold;
	padding:3px;
}
#calendario{
	float:left;
}
#aecar{
	width:3.5rem;
	height:30px;
}
p{
	text-indent: 25px;
}
